:root {
  /* Colors */
  --primary-color: #FF81C1;
  --background-color: rgb(15, 15, 17);
  --text-color: #ffffff;
  --text-color-muted: rgba(255, 255, 255, 0.7);
  --card-color: #ffffff0d;
  --button-color: rgba(255, 255, 255, 0.1);
  
  /* Gradients */
  --primary-gradient: linear-gradient(45deg, #FF81C1, #ffffff);
  
  /* Spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;
  
  /* Borders */
  --border-radius: 12px;
  --border-color: rgba(255, 129, 193, 0.2);
} 